<ul>
<% @artists.each do |artist|%>
<li>
    <%= link_to artist.name , artist_path(artist) %> <%= artist.song_count %> songs


    <%artist.songs.each do |song| %>
    <ul>

       <%= link_to song.title , song_path(song)%>
       <%= song.title %>
      </ul>
    <%end%>

    <%artist.songs.each do |song| %>
    <ul>

       <%= song.title %>
      </ul>
    <%end%>


</li>
<%end%>
</ul>
